@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
  }

  .black {
    --gradient: #536976;
    --background: 215 11.05% 3.2%;
    --foreground: 215 1.7000000000000002% 97%;
    --muted: 215 8.5% 12%;
    --muted-foreground: 215 1.7000000000000002% 54%;
    --popover: 215 61.6% 5.2%;
    --popover-foreground: 215 1.7000000000000002% 97%;
    --card: 215 61.6% 5.2%;
    --card-foreground: 215 1.7000000000000002% 97%;
    --border: 215 8.5% 12%;
    --input: 215 8.5% 12%;
    --primary: 215 17% 40%;
    --primary-foreground: 215 1.7000000000000002% 97%;
    --secondary: 215 8.5% 12%;
    --secondary-foreground: 215 1.7000000000000002% 97%;
    --accent: 215 8.5% 12%;
    --accent-foreground: 215 1.7000000000000002% 97%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 215 1.7000000000000002% 97%;
    --ring: 215 17% 40%;
  }

  .green {
    --gradient: linear-gradient(to top left, #73c8a9, #373b44);

    --background: 168 28.6% 4.96%;
    --foreground: 168 4.4% 98.1%;

    --muted: 168 22% 18.6%;
    --muted-foreground: 168 4.4% 56.2%;

    --popover: 168 56.2% 8.06%;
    --popover-foreground: 168 4.4% 98.1%;

    --card: 168 56.2% 8.06%;
    --card-foreground: 168 4.4% 98.1%;

    --border: 168 22% 18.6%;
    --input: 168 22% 18.6%;

    --primary: 168 44% 62%;
    --primary-foreground: 168 4.4% 6.2%;

    --secondary: 168 22% 18.6%;
    --secondary-foreground: 168 4.4% 98.1%;

    --accent: 168 22% 18.6%;
    --accent-foreground: 168 4.4% 98.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 168 4.4% 98.1%;

    --ring: 168 44% 62%;
  }

  .violet {
    --gradient: linear-gradient(to top left, #ac32e4, #7918f2, #4801ff);

    --background: 299 50.050000000000004% 4.4%;
    --foreground: 299 7.7% 97.75%;

    --muted: 299 38.5% 16.5%;
    --muted-foreground: 299 7.7% 55.5%;

    --popover: 299 49.6% 7.15%;
    --popover-foreground: 299 7.7% 97.75%;

    --card: 299 49.6% 7.15%;
    --card-foreground: 299 7.7% 97.75%;

    --border: 299 38.5% 16.5%;
    --input: 299 38.5% 16.5%;

    --primary: 299 77% 55%;
    --primary-foreground: 299 7.7% 5.5%;

    --secondary: 299 38.5% 16.5%;
    --secondary-foreground: 299 7.7% 97.75%;

    --accent: 299 38.5% 16.5%;
    --accent-foreground: 299 7.7% 97.75%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 299 7.7% 97.75%;

    --ring: 299 77% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    @apply font-sans;
  }
}
